.bubble {
  position: absolute;
  background-color: #FF6868;
}
.bubble.gray {
  background-color: #7D7D7D;
}
.bubble:nth-child(1) {
  left: 6px;
  top: 9px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.bubble:nth-child(2) {
  left: 16px;
  top: 19px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
.bubble:nth-child(3) {
  right: 14px;
  bottom: 6px;
  width: 16px;
  height: 7px;
  border-radius: 100%;
  transform: rotate(-30deg);
}
.bubble:nth-child(4) {
  right: 23px;
  bottom: 13px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}